body{
    font-family: 'Montserrat';font-size: 22px;
    color:rgb(56, 36, 67);
}
.container{
    display: flex;
    flex-direction: row;
}
.cont{
    display: flex;
    width: 100%;   
    height: 100%;
}
.left-dash{
    display: flex;
    flex-direction: column;
    min-width: 6%;
}
.left-dash-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color:#11d7d8;
    height:100%;
    gap:30px;
    align-items: flex-start;
    justify-content: space-around;
    padding: 10px;
    padding-top:40px;
}
.right-cont{
    display: flex;
    width: 100%;
    height:100%;
    max-width: 2000px;
}
.right-dash{
    height: 100%;
    display: flex;
    width: 100%;
}
.right-dash-container{
    height: 100%;
    display: flex;
    flex-direction: row;
    width:100%;
    
}

.right-dash-display-container{
    display: flex;
    height: 100%;
    width: 100%;
  
}
.display-container{
    display: flex;
    flex-direction: column;
    height:100%;
    width: 100%;
}
.form-container{
    display: flex;
    flex-direction: row;
    height: 15%;
    background-color:#fd9ab6 ;
    gap:90px;
    justify-content:space-evenly;
    align-items: center;
    padding: 10px;
    font-size: 20px;
    flex-wrap: wrap;
    padding: 15px;
}

.left-dash-container img{
    height:50px;
    width: 50px;
}


.edit-content{
    display: flex;
    height: 100%;
    width:100%;
}
.edit-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap:60px;
    /* overflow-x: hidden; */
   
    justify-content: space-around;
    max-height: 600px;
    padding-top: 30px;
}
.fav-item img{
height: 200px;
width: 300px;
border-radius: 10px;
object-fit: cover;
}
.fav-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.details{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 40px;
    justify-content: space-between;
}
.details button{
    margin:5px;
    border-radius: 5%;
    padding:0px 10px;
    height: 20px;
    font-family:'Montserrat';font-size: 12px; ;
    padding-top: 0px;
    margin-top: 25px;

    background-color:#11d7d8;
    outline: gray;
    border: 0px;
}
.qty{    
    padding-right: 10px;
}


.edit-card{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(217, 119, 158, 0.5);
    max-height:600px;
    height:550px;   
    max-width: 1800px;
    width: 100%;
    border-radius: 15px;
    box-shadow: 5px 5px 8px #181744; 
    margin-left: 15px;
    margin-right: 15px;
    
}
form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap:80px;
    justify-content: center;
}
.edit-form{
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
    width: 100%;
    overflow-y: auto;
    flex-wrap: wrap;
    
}
.prod-edit{
    height:400px;
    width:300px;
    display: flex;
    flex-direction: column;
    gap:15px;
    border:1px solid black;
    padding-left: 15px;
    border-radius: 10px;
    border-color: #11d7d8;
    margin-top: 10px;
    
}
.edit-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:10px;
    padding-top:10px;
    margin:0px;
    height: 40%;
    width:100%
}
/* .edit-header h6{    
    margin-bottom: 0px;
    margin-top: 0px;
} */
.edit-header img{
    height: 100%;
    width: 80%;
    margin-right: 10px;
}
.edit-body{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap:10px;
    width: 100%;
    font-size: 12px;
}
.rows{
    display: flex;
    flex-direction: row;
    gap:15px;
    width: 100%;
}
.row{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:flex-start;
    width:100%;
}
.rowf{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 30px;
    margin-right: 15px;
    
   
    width:100%;
}

.row label{
    font-size: 16px;
}
.row input{
    width: 80%;
    margin-top:10px;
    height:30px;
    border-radius: 5px;
    border-color: transparent;
}
.row input:focus { 
    outline: none !important;
    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;
 }

.row a{
    text-decoration: none;
    color:aliceblue
}


.file{
    height:10px;
    background-color:white;
    border-radius: 5px;
    padding:5px;
    color: transparent;
}
input::file-selector-button{
    font-family:  'Montserrat';font-size:15px;
    color:#181744;
    
    color: dodgerblue;
    padding:5px;
    border: 0px;
    border-radius: 3px;
}

.edit-footer .row{
    align-items: center;    
}
.rfooter{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    gap:5px;

}
.btn{
    font-size:10px;
    font-weight:600;
    padding-top:5px;
    padding-bottom:5px;
    font-family:  'Montserrat';font-size: 15px;
    height:100%;
    width: 100%;
    border: 1px solid gray;
    border-radius: 5px;
    color:#181744;
    

}
.btn:hover{
    background-color:  rgba(86, 149, 221, 0.5);
    font-size:10px;
    padding:5px;
    font-family:  'Montserrat';
    font-size: 18px;
    box-shadow: 0 0 10px #719ECE;
    color:aliceblue;
}
.buttons .btn{
    height:50px;
    width: 100px;
}
.buttons .cancel-button{
    margin-right:40px;
}

  /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 32%;
    display: flex;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  .buttons{
    display: flex;
    flex-direction: row;
  }
  .buttons .bt{
    margin-right: 40px;

  }